<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group">
    <span class="input-group-addon">Name:</span>
    <%= form.text_field :author, placeholder: "Who are you?", class: "form-control" %>
  </div>
  <div class="field">
    <%= form.text_area :comment_entry, placeholder: "What's on your mind?", class: "form-control", rows: 6 %>
  </div>
  <div class="pager">
    <div class="actions">
      <%= form.submit "Add Comment", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :post_id, value: @post.id %>
  </div>

<% end %>
